alias zconfig="zed ~/.zshrc"
alias ga="git add"
alias gaa="git add ."
alias gp="git push"
alias gl="git log"
alias gic='git commit -m'
alias nah="git reset --hard; git clean -df;"
alias npmplease="rm -rf node_modules/ && rm -f package-lock.json && npm install"
alias bunplease="rm -rf node_modules/ && rm -f package-lock.json && rm -f bun.lock && bun install"
alias nclean="rm -rf node_modules/ && rm -f package-lock.json"
alias ndev="npm run dev"
alias bdev="bun run dev"
alias es="npx expo start"
alias ei="npx expo install"
alias eci="expo config --type introspect"
alias doc="npx expo-doctor"
alias eprod="npx expo start --no-dev --minify"
alias ngrok="~/ngrok"
alias c="clear"
alias ls="ls --color=auto"
alias ll="ls -la"
alias h="cd ~/"
alias solconfig="code /Users/zej/solana/.config/solana/install/config.yml"
